---
title:
original_title:: 
category: 
description: WHAT AM I? 
image: INTHESAMEDIR
size: 
time: 
author: 
source: link
nutrition:
  - 0 calories
  - 0.0 g sugar
  - 0.0 g fat
  - 0.0 g protein
  - 0.0 g carb
# spicy:
# sweet:
# salty
# umami 
# favorite: 
# veggie
# vegan
# meat

# Note: you can use markdown headings to split
# per the pan fired perilla leaves example
# >>> will do a little warning bubble!
# ![](strawberrysmoothie.jpg)
---

* `2 tbsp` INGREDIENT

> Mix in an oven-proof saucepan or cast-iron skillet – you should end up with a thick marinade.